<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="liophan.designpatterndemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".behavioral.strategy.StrategyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".behavioral.observer.ObserverActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".creational.factory.FactoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".creational.abstractfactory.AbstractFactoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".creational.singleton.SingletonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".creational.builder.BuilderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".creational.prototype.PrototypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".other.reflection.ReflectionActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>